body {
  margin-top: 1.0em;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}

#container {
  margin: 0 auto;
  width: 900px;
}

header {
  margin-bottom: 25px;
}

header h1 {
  color: #336600;
  font-size: 3.8em;
  margin-bottom: 3px;
}

header h1 a {
  text-decoration: none
}

header h2 {
  font-size: 1.2em;
  font-style: italic;
  font-weight: normal;
  color: black;
}

#content {
  clear: both;
  overflow: hidden;
}

#content .download {
  float: right;
}

#content nav, #content > div {
  float: left;
}

#content nav {
  margin-right: 25px;
}

a {
  color: #559922;
}

pre {
  background: #000;
  color: #fff;
  padding: 15px;
}

hr {
  border: 0;
  width: 80%;
  border-bottom: 1px solid #aaa
}

.footer {
  text-align: center;
  padding-top: 30px;
  font-style: italic;
}