language: objective-c

rvm:
  - "system; export CEDAR_SDK_VERSION=5.0 #"
  - "system; export CEDAR_SDK_VERSION=5.1 #"
  - "system; export CEDAR_SDK_VERSION=6.0 #"
  - "system; export CEDAR_SDK_VERSION=6.1 #"

env:
  matrix:
    - CEDAR_RUNTIME_SDK_VERSION="5.0"
    - CEDAR_RUNTIME_SDK_VERSION="5.1"
    - CEDAR_RUNTIME_SDK_VERSION="6.0"
    - CEDAR_RUNTIME_SDK_VERSION="6.1"

script: rake
